  </div>
  <footer class="content-wrap">
    <div class="footer">
      <hr class="my-4">
      <div class="row justify-content-center m-0 my-4">
        <h4>App-W Writer</h4>
      </div>

      <div class="row justify-content-center m-0 my-2">
        <a class="nav-link pt-0" style="display: inline;" href="https://www.facebook.com/victhor.baesso" target="_blank">Joao Victor Baesso</a>
        <i class="fas fa-ellipsis-v"></i>
        <a class="nav-link pt-0" style="display: inline;" href="https://www.facebook.com/vitor.paulo.353" target="_blank">Vitor Paulo de Sa Galvan</a>
      </div>

      <div class="row justify-content-center m-0 my-2">
        <a class="nav-link pt-0" style="display: inline;" href="https://www.facebook.com/lucas.berlandinha" target="_blank">Lucas Berlanda</a>
        <i class="fas fa-ellipsis-v"></i>
        <a class="nav-link pt-0" style="display: inline;" href="https://www.facebook.com/mateus.beltrame.1" target="_blank">Mateus Beltrame</a>
      </div>

      <div class="row justify-content-center m-0 my-2">
        <a class="nav-link pt-0" style="display: inline;" href="https://www.facebook.com/luizhenrique.rigogriebeler" target="_blank">Luiz Rigo</a>
        <i class="fas fa-ellipsis-v"></i>
        <a class="nav-link pt-0" style="display: inline;" href="https://www.facebook.com/everson.signori" target="_blank">Everson Signori</a>
      </div>

      <div class="row justify-content-center m-0 my-2">
        <a class="nav-link pt-0 text-dark" href="https://www.unoesc.edu.br/" target="_blank">UNOESC - Xanxerê, 2019</a>
      </div>
      <hr class="my-4">
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
  <script src="/assets/js/bootstrap.js"></script>
  <script src="/assets/js/jquery.mask.js"></script>
  <script src="/assets/js/registro-novo.js"></script>
  </body>

  </html>
