<%- include _header.ejs %>

<div class="row justify-content-center mt-4 mx-0">
  <h2 class="display-4">Empresa</h2>
</div>
<div class="row justify-content-center mt-4 mx-0">

  <form class="col-sm-8 col-md-6 col-lg-4" action="/empresa/salvar" method="post">
    <div class="form-group">
      <input type="hidden" name="id" value="<%= empresa.id %>">
      <input placeholder="Nome" name="nome" type="text" class="form-control" id="nome" value="<%= empresa.nome %>">
    </div>
    <button type="submit" class="btn btn-primary float-right">Salvar</button>
  </form>

</div>

<%- include _footer.ejs %>
