<%- include _header.ejs %>
<div class="row justify-content-center mt-4 mx-0">
  <div class="jumbotron">
    <h1 class="display-4 text-center">App-W Writter</h1>
    <p class="lead text-center">Apenas Escrita</p>
    <hr class="my-4">
    <p>Aplicativo para análisar a variação de impostos na relação empresa - produto.</p>
    <p>Composto de dois módulos, um responsável por inserir os dados no banco, com um crud de Produto, Empresa e Registro (que representa o valor do produto em determinada empresa na data avaliada).</p>
    <p>E outro (App-R Reader) responsável pela leitura dos dados, e visualização em forma de gráficos, que indicam determinados  índices.</p>

    <p>Este é o modulo de escrita, que possui um CRUD completo de Produto, Empresa e Registro.</p>
  </div>
</div>

<%- include _footer.ejs %>
