<%- include _header.ejs %>

<div class="row justify-content-center mt-4 mx-0">
	<h2 class="display-4">Produto</h2>
</div>
<div class="row justify-content-center mt-4 mx-0">

	<form class="col-sm-8 col-md-6 col-lg-4"action="/produto/salvar" method="POST">
		<div class="form-group">
			<input type="hidden" name="id" value="<%=produto.id %>">
			<input placeholder="Nome" type="text" class="form-control" name="nome" value="<%=produto.nome%>">
		</div>
		<button type="submit" class="btn btn-primary float-right">Salvar</button>
	</form>

</div>

<%- include _footer.ejs %>
